body,
h1,
h5 {
  font-family: "Raleway", sans-serif
}

body,
html {
  height: 100%
}
div{
  position: relative;
}
.hyperspan{
  position: absolute;
  width: 100%;
  height: 7%;
  left: 0;
  bottom: 0;
  background-color: #f4a261;
  text-align: center;
  margin: auto;

}
.hyperspan a{
  color: #264653;
  font-size: 30px;
}

.hyperspan span{
  font-size: 30px;
}

.mid{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bgimg {
  /* background-image: url('../images/bg1.jpg'); */
  background-color: #264653;
  min-height: 100%;
  background-position: center;
  background-size: cover;

    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
}

.bg-as-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 77vw;
  overflow: hidden;
}


.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 1; */
  transform: translate(-50%, -50%);
  z-index: 2;
  position: absolute;
  font-size: 2em;
}

.typing {
  width: 12ch;
  animation: typing 3s steps(22), blink 5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  /* z-index: 2; */
  color: #f4a261;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}