.monospace{
  font-family: 'Anonymous Pro', monospace;

}

html, body{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Anonymous Pro', monospace;

}

a {
  color: #00B7FF;
}

::selection{
  background-color: #343434;
  color:#FFFFFF ;
}

.fullscreenDiv {
  background-color: #C2E7DA;
  width: 100%;
  height: auto;
  bottom: 0px;
  top: 0px;
  left: 0;
  position: absolute;
}
.center {
  position: absolute;
  border: 1px solid blue;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -50px;
  font-family: 'Anonymous Pro', monospace;

}

#main_page{
background-color: #C2E7DA;
}

#about_me_page{
  background-color: #E3655B;
}

#project_page{
  background-color: #F2C14E;
}