.monospace{
  font-family: 'Anonymous Pro', monospace;

}

html, body{
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

::selection{
  background-color: #343434;
  color:#FFFFFF ;
}